.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 25px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 20px;
    }
}